<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcript</title>
</head>
<body>
    <form action="/" method="post">
        <label for="video_id">Enter YouTube video ID:</label>
        <input type="text" name="video_id" required>
        <button type="submit">Get Transcript</button>
    </form>
    <hr>
    <pre>{{ transcript }}</pre>
</body>
</html>
