    {{> navbar }}

    <br>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card text-center mb-4">
                <div class="card-body">
                    <h1 class="font-weight-bold">YouTube Captions Fetcher and Summarizer</h1>
                </div>
            </div>
        </div>
    </div>

    {{> card }}

    <div class="row justify-content-center">
        <div class="col-md-10">
            <h4>Copy & Paste a Link to a YouTube Video Here:</h4>
            <p class="text-muted">Example: https://www.youtube.com/watch?v=MTyrHB2FWSA</p>
            <input type="text" id="videoId" placeholder="Enter YouTube Link Here" class="form-control mb-3">


            <div class="mb-3">

                <p>Choose Caption Type:</p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="captionType"  value="SRT" checked>
                  <label class="form-check-label">Timestamp</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="captionType" value="TXT">
                  <label class="form-check-label">Text</label>
                </div>


            </div>


              <button id="fetchCaptionsButton" class="btn btn-primary mb-3">Fetch Captions</button>
            
            <h3>SRT Output from Video</h3>
            <p>SubRip (SRT) is a simple caption track that pairs text with timestamps, ensuring each line appears at the right moment in the video.</p>
            <pre id="output" class="border p-3" style="white-space: pre-wrap; height: 220px; overflow-y: auto;"></pre>

            <h3>Summary of Your Video</h3>
            <button id="fetchSummaryButton" class="btn btn-primary btn-lg mb-3">Create Summary</button>

                <div class="mb-3">
                    <p>Choose Summary Type:</p>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioTxt" type="radio" name="summaryType"  value="TXT" checked>
                    <label class="form-check-label">Text</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioEmoji" type="radio" name="summaryType" value="EMOJI">
                    <label class="form-check-label">Emoji</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioUser" type="radio" name="summaryType" value="USER">
                    <label class="form-check-label">User</label>
                    </div>
                </div>

            <p>Your video summary is being generated using advanced algorithms to ensure accuracy and relevance. This process can take anywhere from 10 to 40 seconds, depending on the content's length and complexity. We appreciate your patience and assure you that the insights provided will be worth the wait!</p>
            <div id="loadingSummary" class="text-center my-3 justify-content-center align-items-center" style="display: none;">
                <div>
                    <div class="spinner-border" role="status"></div>
                    <p class="mt-2">Generating Summary...</p>
                </div>
            </div>
            <pre id="summary" class="border p-3" style="white-space: pre-wrap; height: 300px; overflow-y: auto;"></pre>



            <h3>Search of Your Video</h3>
            <p>Specify a keyword to search for:</p>
            <input type="text" id="searchId" placeholder="Enter YouTube Search Here" class="form-control mb-3">
            <button id="searchCaptionsButton" class="btn btn-primary btn-lg mb-3">Search Captions</button>
            

            <div id="loadingSearch" class="text-center my-3 justify-content-center align-items-center" style="display: none;">
                <div>
                    <div class="spinner-border" role="status"></div>
                    <p class="mt-2">Searching Video...</p>
                </div>
            </div>
            <pre id="search" class="border p-3" style="white-space: pre-wrap; height: 300px; overflow-y: auto;"></pre>

        </div>
    </div>
    {{> footer }}
