<!-- youtubeLinkCopy.hbs -->
<h4>Copy & Paste a Link to a YouTube Video Here:</h4>
<p id="videoHelp" class="form-text text-muted">
    Just copy and paste the URL from your YouTube video here. For example,
    <span class="copy-container">
        <code id="textToCopy">https://www.youtube.com/watch?v=MTyrHB2FWSA</code>
        <button onclick="copyTextToClipboard()">
            <i class="fa-solid fa-copy copy-icon"></i>
        </button>
    </span>
</p>
